alabaster==0.7.12
alpaca-trade-api==0.51.0
asgiref==3.3.1
Babel==2.9.0
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==3.0.4
colorama==0.4.4
configparser==5.0.1
crayons==0.4.0
cycler==0.10.0
docutils==0.16
et-xmlfile==1.0.1
idna==2.10
imagesize==1.2.0
jdcal==1.4.1
Jinja2==2.11.2
joblib==0.17.0
kiwisolver==1.3.1
latexcodec==2.0.1
lxml==4.6.3
MarkupSafe==1.1.1
matplotlib==3.3.3
numpy==1.19.4
openpyxl==3.0.5
options-scraper==0.9.91
oset==0.1.3
packaging==20.8
pandas==1.1.5
pandas-datareader==0.9.0
patsy==0.5.1
Pillow==8.0.1
pybtex==0.23.0
pybtex-docutils==0.2.2
Pygments==2.7.3
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.4
PyYAML==5.3.1
regex==2020.11.13
requests==2.25.0
scipy==1.5.4
seaborn==0.11.0
selenium==3.141.0
six==1.15.0
sklearn==0.0
snowballstemmer==2.0.0
soupsieve==2.1
Sphinx==3.4.1
sphinx-rtd-theme==0.5.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-bibtex==2.0.0
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sqlparse==0.4.1
statsmodels==0.12.1
ta==0.7.0
threadpoolctl==2.1.0
titlecase==1.1.1
urllib3==1.25.11
webdriver-manager==3.2.2
websocket-client==0.57.0
websockets==8.1
xlrd==1.2.0
XlsxWriter==1.3.7
dnspython==2.1.0
pymongo~=3.11.2
mongoengine~=0.22.1
setuptools~=51.0.0
Flask~=1.1.2
Werkzeug~=1.0.1
Flask-Login==0.5.0
DateTime~=4.3
Zope~=5.1.2
scikit-learn~=0.23.2
yfinance~=0.1.55
arch~=4.18
fredapi~=0.4.3
alpha-vantage~=2.3.1